<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Upload Files Request - NR Accounting</title>
  </head>

  <body>
    <p>
      NR Accounting & Business Advisors has requested that you upload files to their secure portal. Please follow the
      link below to upload your files.
    </p>

    <a href="{{secureLink}}">{{secureLink}}</a>

    <p>
      Do not reply to this email. If you have any questions, please contact NR Accounting & Business Advisors directly.
    </p>

    <p>
      Thank you,
    </p>

    <p>
      NR Accounting & Business Advisors
    </p>
  </body>

</html>
